body{
    background-image: url('/public/images/FondoPagina.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    height: 38vw;
    background-color: transparent;
}

.circle {
    width: 50px;
    height: 50px;
    border: 4px double #3498db;
    background-image: url('/public/images/estrella.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}
#load{
    font-size: 2vw;
    font-weight: bold;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
