*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(8, 6, 6);
 
}
img{
    max-width: 100%;
    padding: 10px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.popular{
    padding: 60px 0px;
    text-align: center;
}
h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 35px;
}
.popular-content{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}
.popular-content  img{
    width: 130px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}.product-1{
    
    background-color: rgb(231, 226, 226);
}
.product-txt{
    padding: 50px 30px;
}
h1{
    font-size: 20px;
    color: rgb(15, 15, 15);
    margin-bottom: 20px;
}
.price{
   
    
    
    width: 340px;
    height: 240px;
}.price p{
    font-size: 15px;
    color: black;
}
.popular-content img{
    width: 200px;
    height: 200px;
}