*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(8, 6, 6);


}
img{
    max-width: 100%;
    padding: 10px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.popular{
    padding: 60px 0px;
    text-align: center;
    overflow: hidden;
}
.popular  img{
    object-fit: cover;
}
h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 35px;
}
.popular-content{
    display: flex;
    justify-content: space-between;
    margin: 30px;
<<<<<<< HEAD
    overflow: hidden;
    
=======
    overflow-x: scroll;
>>>>>>> 53225a36f327221627fced3b83d744258d7f3cc2
}
.popular-content  img{
    width: 130px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}.product-1{

    background-color: rgb(231, 226, 226);
}
.product-txt{
    padding: 50px 30px;
}
h1{
    font-size: 20px;
    color: rgb(15, 15, 15);
    margin-bottom: 20px;
}
<<<<<<< HEAD
.price{ 
    width: 340px;
    height: 240px;
}.price p{
=======
.price p{
>>>>>>> 53225a36f327221627fced3b83d744258d7f3cc2
    font-size: 15px;
    color: black;
}
.popular-content img{
<<<<<<< HEAD
    width: 400px;

    
    
}
.popular-content ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
}
.popular-content li{
    width: 100%;
    list-style: none;
=======
    width: 200px;
    height: 200px;
>>>>>>> 53225a36f327221627fced3b83d744258d7f3cc2
}
