.cartaJuegos{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}

.card a:hover{
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
}

.card h3{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card p{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card{
    width: 280px;
    height: 330px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 5px 5px 0 rgba(96, 96, 96, 0.5);
    margin: auto;
    padding-bottom: 13px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#imgBorrar{
    margin-top: 25px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#imgBorrar:hover{
    cursor: pointer;
    opacity: .6;
}

#imgEditar{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#imgEditar:hover{
    cursor: pointer;
    opacity: .6;
}

#imgJuego{
    transition: .5s;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50%;
}

#imgJuego:hover{
    transform: translate(0,-10%);
    box-shadow: 0 3px 3px 0 rgba(96, 96, 96, 0.5);
    z-index: 100;
    border-top: 2px solid rgb(255, 0, 0);
}

#mdDescripcion{
    height: 150px;
    width: 500px;
    border:3px solid red;
    border-radius: 10px;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
}


.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7px;
}
 #flex{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}
#flex a:nth-child(2){
   margin-top: 22px;
}

.logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
}
.logout strong:nth-child(2) a{
    text-decoration: none;
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 3px 7px;
    border: 0.8px solid black;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s;
}
.logout strong:nth-child(2) a:hover{
    opacity: 0.8;
    padding: 4px 8px;
}